/*.background {*/
    /*display: none;*/
    /*position:fixed;*/
    /*top:0px;*/
    /*left:0px;*/
    /*width:100%;*/
    /*height:100%;*/
    /*background-color:#fff;*/
    /*background:-moz-radial-gradient(50% 50%, #fff, #000);!*gradient for firefox*!*/
    /*background:-webkit-radial-gradient(50% 50%, #fff, #000);!*new gradient for webkit *!*/
    /*background:-webkit-gradient(radial, 0 50%, 0 50%, from(#fff), to(#000));!*the old grandient for webkit*!*/
    /*opacity:0.5;*/
    /*filter:Alpha(opacity=50);*/
/*}*/
.login-page {
    display: none;
    position:fixed;
    border: 1px solid #ccc;
    background-color:white;
    left:400px;
    top:400px;
    height: 795px;
    width: 1350px;
    border-radius:15px;
    -moz-border-radius:15px;
    box-shadow:0 5px 27px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 5px 27px rgba(0,0,0,0.3);
    -moz-box-shadow:0 5px 27px rgba(0,0,0,0.3);
}
.login-page .left{
            float:left;
            width:557px;
            height:795px;
            background: #ddd;
            /*margin-bottom:10px;   <!--保证和下一块状属性的间距是10px-->*/
        }
.login-page .right-top{
    float:left;
    width:793px;
    height:141px;
    background: #ddd;
    border-bottom-style:solid;
        }
.login-page .right-top .lg{
    float:left;
    width:652px;
    height:141px;
    background: #ddd;
}
.login-page .right-top .close{
    float:right;
    width:141px;
    height:141px;
    background: #ddd;
}
.login-page .right-mid{
    float:left;
    width:793px;
    height:480px;
    background:white;
    font-size: 40px;
    margin-top: 40px;
        }

.login-page .right-mid input{
    height:70px;
    line-height:35px;
    border:solid;
    font-size: 24px;
    width:540px;
    margin: 20px 20px 20px 100px;
}
.login-page .right-mid .nocount{
    margin-left: 100px;
}

.login-page .right-bottom .veryfy{
    height:100px;
    line-height:35px;
    border:solid;
    font-size: 24px;
    margin-bottom:40px;
    margin-left: 100px;
    background: green;
    width: 540px;
}